body {
    background-color: rgb(20, 20, 20);
    color: white; /*Set text color to white for better contrast on black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Make the body take up the full viewport height */
    margin: 0; /*Remove default margin */
    font-family: monospace; /*Set a font */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /*Add spacing between form elements */
    text-align: left; /*Align labels and inputs to the left */
}

button {
    background-color: #444; /*Add a background color */
    color: white; /*Set text color */
    padding: 10px 15px; /*Add padding */
    border: none; /*Remove border */
    border-radius: 5px; /*Add rounded corners */
    cursor: pointer; /*Change cursor to pointer */
}

button:hover {
    background-color: #666; /*Change background color on hover */
}

a {
    color: white; /*Set link color */
    text-decoration: none; /*Remove underline from links */
    font-size: large; /*Set font size for links */
    font-weight: bold; /*Make links bold */
}

a:hover {
    color: rgb(100, 69, 255);
}