body {
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    font-family: monospace;
}

form {
    display: flex;
    text-align: left;
}

button {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}