body {
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    font-family: monospace;
}

form {
    display: flex;
    text-align: left;
}

button {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(100, 69, 255);
    text-decoration: underline;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 260px;
    padding: 20px;
}
